<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Spring Securityを使用したログインの例</title>
</head>

<body>
	<h1>パスワード変更</h1>
	<form method="POST" th:action="@{/change-password}" th:object="${changePasswordForm}" autocomplete="off">
		<p><label>パスワード：<input type="password" th:field="*{password}" /></label></p>
		<p><label>パスワード（確認）：<input type="password" th:field="*{confirmPassword}" /></label></p>
		<p><input type="submit" value="パスワードを変更する" /></p>
	</form>
</body>

</html>